@font-face {
    font-family: Gilroy-light;
    src: url('/fonts/Gilroy-Light/Gilroy-Light.eot'),
    url('/fonts/Gilroy-Light/Gilroy-Light.woff') format('woff'),
    url('/fonts/Gilroy-Light/Gilroy-Light.ttf')  format('truetype'),
    url('/fonts/Gilroy-Light/Gilroy-Light.svg') format('svg');
}
@font-face {
    font-family: Gilroy-regular;
    src: url('/fonts/Gilroy-Regular/Gilroy-Regular.eot'),
    url('/fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
    url('/fonts/Gilroy-Regular/Gilroy-Regular.ttf')  format('truetype'),
    url('/fonts/Gilroy-Regular/Gilroy-Regular.svg') format('svg');
}
@font-face {
    font-family: Gilroy-medium;
    src: url('/fonts/Gilroy-Medium/Gilroy-Medium.eot'),
    url('/fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy-Medium/Gilroy-Medium.ttf')  format('truetype'),
    url('/fonts/Gilroy-Medium/Gilroy-Medium.svg') format('svg');
}
@font-face {
    font-family: Gilroy-bold;
    src: url('/fonts/Gilroy-Bold/Gilroy-Bold.eot'),
    url('/fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy-Bold/Gilroy-Bold.ttf')  format('truetype'),
    url('/fonts/Gilroy-Bold/Gilroy-Bold.svg') format('svg');
}
@font-face {
    font-family: Gilroy-semibold;
    src: url('/fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot'),
    url('/fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'),
    url('/fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf')  format('truetype'),
    url('/fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg') format('svg');
}
@font-face {
    font-family: Gilroy-extrabold;
    src: url('/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot'),
    url('/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'),
    url('/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf')  format('truetype'),
    url('/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg') format('svg');
}

@font-face {
    font-family: OsnovaPro-bold;
    src: url('/fonts/OsnovaPro-Bold/Osnova-Pro-Bold.woff') format('woff'),
    url('/fonts/OsnovaPro-Bold/Osnova-Pro-Bold.ttf')  format('truetype'),
    url('/fonts/OsnovaPro-Bold/Osnova-Pro-Bold.svg') format('svg');
}
